@font-face {
	font-family: 'Code Pro Bold';
	src: url('fonts/Code Pro Bold.eot');
	src: local('☺'), url('../fonts/Code Pro Bold.woff') format('woff'), url('../fonts/Code Pro Bold.ttf') format('truetype'), url('../fonts/Code Pro Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
